/*54. Estilo para el cuadro de mensaje*/
#mensaje {
    background-color: #fff;
    width: 380px;
    height: 150px;
    font-family: Arial;
}

/*55. Formato y estilo para la parte de email y nombre*/
#nombre, #email {
    background-color: white;
    width: 380px;
    height: 27px;
    font-size: 14px;
}

/*56. Estilo para el boton de enviar*/
#button {
    color: #000;
    width: 100px;
    height: 35px;
}

/*57. Estilos para la etiqueta form del formulario*/
form {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 400px;
    float: left;
}

/*58. Estilo para la columna dos de el contacto Columna2c*/
#columna2c {
    border-radius:10px;/*El estandar por defecto*/
    width: 78%;
    float: left;
    margin: 6px;
    padding: 10px;
}



/*COSTA*/
/*77. Fondo de color negro*/
.negro1{
    background-color: black;
}

/*78. Formato para el titulo de la costa*/
.tituloC{
    text-align: center;
    color: rgb(250, 250, 7);
    font-size: 35pt;
    font-family: 'Times New Roman';
}

/*79. Formato para separador*/
.divicion{
    background-color: white;
    color: white;
}

/*80. Formato para los textos dentro de la etiqueta p*/
.textoc1{
    color: white;
    text-align: justify;
    font-family: Arial;
    font-size: 12pt;
}

/*81. Formato para los titulos dentro de las wtiquetas h3*/
h3{
    color: rgb(163, 238, 13);
    font-family: Georgia;
    text-align: left;
    font-size: 16pt;
}

/*82. Posicionamiento y estilo del texto*/
#text {
    width: 68%;
    float: left;
}

/*83. Posicionamiento y estilo de la Columna2 imagen*/
#col {
    width: 28%;
    float: left;
}

/*SIERRA*/

/*84. Formato de borde par alas imagenes*/
.bordei{
    border-color: rgb(255, 255, 255);
    border-style: double;
}
/*85. Formato del titulo de la SIERA*/
.tituloS{
    text-align: center;
    color: brown;
    font-size: 35pt;
    font-family: 'Times New Roman';
}

/*86. FOrmato para los titulos en h3*/
.tit{
    color: rgb(15, 222, 230);
    font-family: Verdana;
    font-size: 18pt;
}

/*87. Pocicionamoento del texto*/
#text1p  {
    width: 68%;
    float: right;
}


/*88. Posicionamiento de la imagen*/
#col1p {
    width: 28%;
    float: left;

}

/*ORIENTE*/
/*89. Esitilo del texto para el contenido*/
.textos1{
    color: white;
    text-align: justify;
    font-family: Impact;
    font-size: 12pt;
}

/*90. Estilo para el titulo de la siera*/
.tituloO{
    text-align: center;
    color: green;
    font-size: 35pt;
    font-family: 'Times New Roman';
}

/*91. Estilos para los titulos de el oriente h3*/
.titO{
    font-size: 19pt;
    color: rgb(245, 190, 11);
    font-family: Times;
}

/*92. Texto y estilo para la informacion del oriente etiquetap */
.texO{
    color: white;
    font-family: Arial;
    font-size: 12pt;
}

/*93. Pocicionamiento de el texto en la pagina del oriente*/
#orip {
    width: 68%;
    float: left;
}

/*94. Posicion de las imagens en la pagina del oriente*/
#oripi {
    width: 28%;
    float: left;
}

/*INSULAR*/
/*95. Estilo para los titulos de oriente h1*/
.tituloI{
    text-align: center;
    color: rgb(1, 30, 196);
    font-size: 35pt;
    font-family: 'Times New Roman';
}

/*96. Formato para ls titulos de h2 en la pagina insular*/
.teinsular{
    font-family: Impact;
    font-size: 22pt;
    color: rgba(255, 167, 5, 0.904);
}

/*97. Estilos para el texto de insular*/
.tinsular{
    font-family: Georgia;
    font-size: 14pt;
    color: white;
    text-align: justify;
}

/*98. Estilos para h4 en el formato*/
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: tomato;
    text-align: justify;
    background-color: white;
}

/*99.*/

/*100. */